@model BasefugeesWebApp.ViewModels.SearchSettingViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Search</h1>


<section>
    <form asp-controller="Search" asp-action="Index" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal" role="form">
        <div class="row">
            <div class="form-group">
                @*<label class="col-md-2 control-label">Search</label>*@
                <div class="col-md-10">
                    @*<input type="text" name="searchEntered" />*@
                    <input asp-for="SearchEntered" class="form-control" type="search" />
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="btn btn-default">Search</button>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                <label>Search in:</label>
            </div>
            <div class="col-md-5">
                @*<label>Projects</label>
                <input type="checkbox" name="isProject" />*@
                <label>
                    <input asp-for="TypeSearched" value="IsProject" class="form-control" type="radio" checked />Projects
                </label>
            </div>
            <div class="col-md-5">
                @*<label>Users</label>*@
                <label>
                    <input asp-for="TypeSearched" value="IsUser" class="form-control" type="radio" />Users
                </label>
                @*<span asp-validation-for="IsUser" class="text-danger"></span>*@
            </div>
        </div>
    </form>
</section>

@*<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ObjectID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShortDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Privacy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SupportNeeded)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Url)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ObjectID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ShortDescription)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Privacy)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SupportNeeded)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Url)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Location)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>
                    <td>
                        @Html.ActionLink("Details", "Details", "Project", new { id = item.ObjectID })
                    </td>
                </tr>
            }
        }
    </tbody>
</table>*@